
	<div class="indexdiv">
<div class="col-xs-6">



 	<h1>search for a movie</h1>
	<form accept-charset="UTF-8" action="/result" method="post">
    <label for="movie">movie title:</label>
    <input id="movie" name="movie" type="text" />
   <!--  <input name="commit" type="submit" value="search" />  -->
  </form>

  <div class="tickets">
  <br/><img src="http://www.colourbox.com/preview/6157741-890928-movie-clapboard-icon.jpg" alt="Tickets" width="250" height="250">
</div>
</div>
</div>