<div class="resultdiv">
<div class="col-xs-6">

<h1>results</h1>

<ul>

<%	@sorted_by_year.each do |movie_hash| %>
<a href='/poster/<%=movie_hash["imdbID"]%>'>

<li>Title: <%=movie_hash["Title"]%></a>, Year: <%=movie_hash["Year"]%>

</li>
<% end %>
</ul>

  <div class="tickets">
  <br/><img src="http://www.colourbox.com/preview/6157741-890928-movie-clapboard-icon.jpg" alt="Tickets" width="250" height="250">
</div>

</div>
</div>